.steamprofile * {
	font-size: 10px;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
}

.steamprofile {
	position: relative;
	width: 246px;
	height: 48px;
	background-color: #3A3A3A;
	overflow: hidden;
	margin: 4px;
}

.steamprofile > div {
	padding: 4px;
}

.steamprofile a {
	text-decoration: none;
}

.steamprofile .loading {
	width: 80px;
	height: 32px;
	margin: auto 0;
	background: url(images/loading.gif) no-repeat;
	color: #898989;
	padding-left: 48px;
	margin-left: 0.5em;
	margin-top: 0.5em;
	font-size: 16px;
}

.steamprofile .error {
	color: #ff4444;
	font-size: 12px;
	background: url('images/cross.png') 6px center no-repeat;
	padding-left: 32px;
	margin-top: 1.5em;
}

.steamprofile:hover {
	background-color: #313131;
}

.steamprofile .avatar {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 4px;
}

.steamprofile .avatar img  {
	border: none;
	margin: 4px;
}

.steamprofile .info a {
	font-weight: bold;
}

.steamprofile .in-game .avatar {
	background-image: url(images/iconholder_ingame.png);
}

.steamprofile .in-game {
	color: #8bc53f;
}

.steamprofile .in-game a {
	color: #b1fb50;
}

.steamprofile .online .avatar {
	background-image: url(images/iconholder_online.png);
}

.steamprofile .online {
	color: #6f9fc8;
}

.steamprofile .online a {
	color: #8ecbff;
}

.steamprofile .offline .avatar {
	background-image: url(images/iconholder_offline.png);
}

.steamprofile .offline .info,
.steamprofile .offline .info a {
	color: #898989;
}

.steamprofile .extra {
	display: block;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: #202020;
	height: 50px;
}

.steamprofile .handle {
	width: 16px;
	height: 50px;
	display: block;
	position: absolute;
	z-index: 2;
	left: -16px;
	top: -1px;
	background: url(images/handle.png) right center no-repeat;
}

.steamprofile .handle:hover {
	cursor: pointer;
}

.steamprofile .content {
	height: 50px;
	padding: 6px;
	display: none;
}

.steamprofile .content a {
	color: #5d5d5e;
}

.steamprofile .content a:hover {
	color: #99977e;
}

.steamprofile .content ul {
	list-style: none;
}

.steamprofile .content li {
	height: 16px;
	padding-left: 18px;
	margin: 2px;
}

.steamprofile .content a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.steamprofile li.joingame {
	background: url(images/icon_join_game.png) left center no-repeat;
}

.steamprofile li.joingame a {
	color: #8bc53f;
}

.steamprofile li.addfriend {
	background: url(images/icon_add_friend.png) left center no-repeat;
}

.steamprofile li.addfriend a {
	color: #62a7e3;
}