; If set to true, the script will redirect to the generated image in the
; cache directory, instead of direct image output.
; This can save traffic and server usage if the webserver has caching
; abilities for static files, but may confuse users because of the changing URLs.
image.redirect = false
; If set to true, the last cached image will be shown in case of a failing update
image.fallback = false
; The default theme to be used, if nothing specified
theme.default = "default"
; The directories where images are cached
cache.dir.profiles = "cache/profiles"
cache.dir.avatars = "cache/avatars"
cache.dir.games = "cache/games"
; Time in seconds where images are cached for future requests
;cache.lifetime = 600
cache.lifetime = 600
; Time in seconds before the connection to the server will time out				
downloader.timeout = 10